.signup_container {
    max-width: 400px;
    margin: 150px auto;
    /* Added margin from top of the screen */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.signup_form {
    max-width: 300px;
    /* Adjust this value according to your preference */
    margin: 100px auto;
    /* Added margin from top of the screen */
    padding: 20px;
    /* Add padding to space content from border */
    border: 1px solid #ccc;
    /* Add border around the form */
    border-radius: 5px;
    /* Rounded corners for the border */
    display: flex;
    flex-direction: column;
}

.signup_form label {
    margin-bottom: 5px;
}

.signup_form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup_form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signup_form button:hover {
    background-color: #0056b3;
}